@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div>
        <h6>INTRODUCTION</h6>
        <p>
            Welcome to iBlogHub, a personal blog web app designed to empower you
            to create and share your thoughts, stories, and content. 
            At iBlogHub, we are committed to protecting your privacy and ensuring the security of your personal information. 
            This Privacy Policy outlines our practices concerning the collection, use, 
            disclosure, and protection of your data when you use iBlogHub.
        </p>
    </div>
    <div>
        <h6>INFORMATION WE COLLECT</h6>
        <ol>
            <li>
                <b>User-Provided Information:</b> We may collect personal information you voluntarily
                provide when you create an account or update your profile. 
                This information may include your name, email address, 
                profile picture, and any additional information you choose to share.
            </li>
            <li>
                <b>Content: </b>Any content you publish on iBlogHub, including blog posts,
                comments, and media files, 
                may be collected and stored on our servers.
            </li>
            <li>
                <b>Automatically Collected Information: </b>We may collect non-personal information
                automatically as you interact with iBlogHub. This includes log data, device information 
                (such as your IP address and browser type), usage patterns, 
                and cookies or similar tracking technologies.
            </li>
        </ol>
    </div>
    <div>
        <h6>HOW WE USE YOUR INFORMATION</h6>
        <ol>
            <li>
                <b>Providing Services: </b>We use your personal information to provide you with access to
                iBlogHub and its features, including creating and managing your blog, 
                facilitating communication between users, 
                and customizing your experience.
            </li>
            <li>
                <b>Improving iBlogHub: </b>We use data analytics to analyze user behavior and feedback to improve
                our services, including the functionality and usability of the platform.
            </li>
            <li>
                <b>Communication: </b>We may use your contact information to send you notifications, updates,
                newsletters, and marketing communications related to iBlogHub. You can opt-out of these 
                communications at any time.
            </li>
        </ol>
    </div>
    <div>
        <h6>DATA SHARING</h6>
        <ul>
            <li>
                <b>With Third Parties: </b> We may share your information with trusted third-party service 
                providers,such as hosting providers, analytics services, and payment processors, to facilitate 
                our services.These third parties are required to adhere to this Privacy Policy.
            </li>
            <li>
                <b>Legal Compliance: </b>We may share your information when required to comply with
                applicable laws, regulations, or legal processes, or to protect our rights and interests.
            </li>
        </ul>
        <P>
            
        </P>
    </div>
    <div>
        <h6>DATA SECURITY</h6>
        <P>
            We implement security measures to protect your data from unauthorized access, disclosure, 
            alteration, or destruction. However, no data transmission over the internet or electronic 
            storage can be guaranteed to be 100% secure.
        </P>
    </div>
    <div>
        <h6>YOUR RIGHTS</h6>
        <ul>
            <li>
                <b>Access and Control: </b>You have the right to access, correct, update, or delete your
                personal information. You can manage your preferences and privacy settings within your 
                iBlogHub account.
            </li>
            <li>
                <b>Data Portability: </b>You can request a copy of your data in a machine-readable format.
            </li>
        </ul>
    </div>
    <div>
        <h6>COOKIES AND TRACKING TECHNOLOGIES</h6>
        <P>
            We use cookies and similar tracking technologies to enhance your experience on iBlogHub. 
            You can manage your cookie preferences through your browser settings.
        </P>
    </div>
    <div>
        <h6>CHILDREN'S PRIVACY</h6>
        <P>
            iBlogHub is not intended for use by individuals under the age of 16. 
            We do not knowingly collect personal information from children.
        </P>
    </div>
    <div>
        <h6>CHANGES TO THIS PRIVACY POLICY</h6>
        <P>
            We may update this Privacy Policy to reflect changes in our practices. 
            We will notify you of any material changes through the iBlogHub platform or by email.
        </P>
    </div>
    <div>
        <h6>CONTACT US</h6>
        <P>
            If you have any questions or concerns about this Privacy Policy or our data practices, 
            please contact us at <b>admin@ibloghug.me</b>.

        </P>
    </div>
</section>
